* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ccc;
}


/* Nabar */
.nav {
    background: #EF5122;
    min-height: 42px;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    margin: auto 20px;
    padding-left: 0px;
}

.nav-item {
    color: #fff;
    display: inline-block;
    margin: auto 16px;
}


/* Form */
.form-container {
    background-color: #fff;
    width: 50vw;
    margin: 20px auto;
    padding: 20px;
}

.form__row {
    display: flex;
    padding: 0 10px;
}

.form__label {
    min-width: 20%;
    flex: 1;
}

.form__input {
    flex: 4;
}


/* Column layout  */
.column-layout {
    background: #fff;
    margin: 20px 0px;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
}

.column-item {
    margin: 0 10px;
    
}

.main-column {
    flex: 3;
}

.sidebar-one {
    flex: 1;
}

.sidebar-two {
    flex: 1;
}


/* Feature layout */
.feature-layout {
    display: flex;
    margin: 10px 0px 0px 0px;
    justify-content: space-around;
}

.feature-item {
    flex-basis: 30%;
    padding: 20px;
}

.feature-item h2 {
    padding-bottom: 10px;
}

.feature-item:nth-child(1) {
    background-color: rgb(192, 227, 222);
}

.feature-item:nth-child(2) {
    background-color: rgb(227, 200, 192);
}

.feature-item:nth-child(3) {
    background-color: rgb(226, 192, 227);
}

/* Wrap layout */
.wrap-layout {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px; 
    background: #fff;
    padding: 30px 0px;
}

.wrap-layout__item {
    background: rgb(226, 192, 227);
    text-align: center;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    padding: 20px 50px;
}

/* Center item */
.center-layout {
    margin: 30px auto;
    background: rgb(192, 227, 194);
    padding: 32px 0px;
    height: 360px;
    display: flex;
}

.center-layout__item {
    font-size: 3em;
    font-weight: bold;
    margin: auto;
}

/* Chart */
.chart-layout {
    background: #fff;
    padding: 30px 10px;
    height: 75vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.chart-layout__item {
    height: var(--percent);
    background: red;
    color: #fff;
    padding: 0px 10px;
    animation: growth linear 0.5s;
}

@keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to {
        opacity: 1;
        height: var(--percent);
    }
}

/* The end */
.the-end {
    display: flex;
    max-width: 740px;
    min-height: 360px;
    margin: 20px auto;
}

.the-end__first {
    background:rgb(192, 227, 194);
    padding: 4px 16px;
    flex: 1;
}

.the-end__second {
    flex: 1;
    display: flex;
    flex-flow: column;
}
.the-end__second-one {
    background:rgb(192, 227, 222);
    flex: 1;
    padding: 4px 16px;
}

.the-end__second-two {
    background: rgb(227, 200, 192);
    flex: 1;
    padding: 4px 16px;
}